#content {
	background-color: #4EB1BA;
	font-family: Trebuchet MS;
	text-align: center;
}

#content h1 {
	font-family: 'Pacifico', cursive;
}

#content h2 {
	font-family: 'Pacifico', cursive;
}

#content li {
	font-style: italic;
	font-size: 16px;
}

#content a {
	text-decoration: none;
	font-size: 16px;
}
			
#content a:hover {
	text-decoration: underline;
	background-color: #E9E9E9;
}

#content table{
	background-color: #222930;
	text-align: center;
	color: #E9E9E9;
}

#content th{
	text-align:center;
}

#content td{
	font-style: italic;
}

.table-hover tbody tr:hover td {
	background: #4EB1BA;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: gray;
 }