body {
	background-color: #4EB1BA;
	font-family: Trebuchet MS;
	text-align: center;
}

h1 {
	font-family: 'Pacifico', cursive;
}

h2 {
	font-family: 'Pacifico', cursive;
}

li {
	font-style: italic;
}

a {
	text-decoration: none;
}
			
a:hover {
	text-decoration: underline;
	background-color: #E9E9E9;
}

table {
	background-color: #222930;
}

td {
	color: #E9E9E9;
	font-style: italic;
}

