h1{
    text-align:center;
    font-weight:bold;
    font-family:Trebuchet MS;
}

body{
    text-align:center;
    font-family:Trebuchet MS;
    font-size: 25px;
    background-color: #F1684E !important;
    color: #1B1B1B;
}

table, th, td {
     border: 2px solid black;
     background-color: #E4E4E4;
     text-align:left;
     font-size: 20px;
}

th {
    background-color:gray;
}

th, td {
    padding: 10px;
}

button{
    background-color: #E4E4E4;
    height:50px;
    width:100px;
}

#button1 {
    font-family:Trebuchet MS;
    font-size: 20px
}

#bet {
    height:50px;
    width:100px;
    font-size: 20px
}

.underline {
    text-decoration: underline;
    text-align: center;
    padding-top:20px; 
}

