body {
	font-family: Trebuchet MS;
}

#header {
	text-align: center;	
	background-color: #E4E4E4;
}

a {
	font-size: 18px;
	text-align: left;
}

#footer {
	text-align: center;	
	background-color: #E4E4E4;
}