body {
	font-family: Trebuchet MS;
	background-color: #F1684E;
	text-align: center;
}

#header {
	text-align: center;	
	background-color: #E4E4E4;
	font-family: 'Lobster Two', cursive;
}

a {
	font-size: 18px;
	text-align: left;
}

ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #E4E4E4;
}

li {float: left;}

li a {
	display: block;
	text-align: left;
	padding: 10px;
}

#footer {
	text-align: center;	
	background-color: #E4E4E4;
}