.container-fluid {
	font-family: Trebuchet MS;
	background-color: #F1684E !important;
	text-align: center;
	color: #1B1B1B;
	font-size: 18px;
}

.img {
	width: 100%;
    height: 100%;
}

.carousel-caption h3 {
	color: #E4E4E4;
}

.navbar {
    background-color: #E4E4E4;
}

.navbar a {
    color: #1B1B1B;
}

.jumbotron {
	text-align: center;	
	font-family: 'Lobster Two', cursive;
	background-color: #E4E4E4 !important;
}

.row {
	background-color: #F1684E !important;
	font-family: Trebuchet MS;
	color: #1B1B1B;
}

.underline {
	text-decoration: underline;
	padding-left: 20px;
}

.ContactUsTable td{
    padding: 8px;
    margin-left: auto; 
    margin-right: auto;
    background-color: #F1684E !important;
}

.ContactUsTable table{
	table-layout: fixed;
}

#footer {
	text-align: center;	
	background-color: #E4E4E4;
}

