body {
	font-family: Trebuchet MS;
	background-color: #F1684E;
	text-align: center;
}

#header {
	text-align: center;	
	background-color: #E4E4E4;
	font-family: 'Lobster Two', cursive;
}

a {
	font-size: 18px;
	text-align: left;
	color: blue;
}

a:hover {
	font-weight: red;
}

a:visited {
	color: blue;
}

a:active {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #E4E4E4;
}

li {
	float: left;
}

li a {
	display: block;
	text-align: left;
	padding: 10px;
}


.ContactUsTable td {
    padding: 8px;
    margin-left:auto; 
    margin-right:auto;
    background-color:#F1684E;
}

.ContactUsTable table{
	table-layout: fixed;
}

#Beverages {
	font-family: Trebuchet MS;
}

.underline {
	text-decoration: underline;
	padding-left: 20px;
}

#footer {
	text-align: center;	
	background-color: #E4E4E4;
}
